<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bandsy account verification</title>
</head>
<body>
  <p>hello <%= username %>,</p>
  <p>here is your verification code: <%= verificationCode %></p>
</body>
</html>
